th{
    width: 100px;
    background:cornflowerblue;
    color:white;
    text-align: center;
    border:1px solid black;
}
td{
    width:100px;
    height: 50px;
    background:whitesmoke;
    border:1px solid black;
}

.arrow{
    margin:0px 20px;
    color:cornflowerblue;
    cursor:pointer;
}

.arrow:hover{
    text-decoration: none;
}

.calendar-header{
    width: 400px;
}