td{
    cursor: pointer;
}

.appList-window{
    position: absolute;
    top:0;
    left:0;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    background: gainsboro;
    overflow:visible;
    display: none;
}

.appList{
    overflow-y: scroll;
    height: 90%;
    background-color: lightgray;
}

.appList-header{
    cursor:pointer;
}

.userbox{
    width: 100%;
    border:1px solid black;
}

.newappform{
    display: none;
}

.contractordetailsform{
    display:none;
}

.new-line{
    padding: 20px;
    border-top: 1px solid gray;
}

.new-line:last-child{
    border-bottom: 1px solid gray;
}

.new-line-data{
    margin: 5px auto;
}

.editbtn, .deletebtn{
    margin-right:10px;
    margin-top: 10px;
    width:80px;
}

.appList-editForm{
    position: absolute;
    top:0;
    left:0;
    display:none;
    background-color: cadetblue;
    margin: 40vh 5vh;
    color:white;
}